<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Edit User</title>
    <link href="/css/globals.css" rel="stylesheet" />
    <link href="/css/user.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
  </head>
  <body class="bg-white dark:bg-gray-900 antialiased">
    <header>
      <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">Helpin</h1>
      <nav>
        <ul>
          <li>
            <a href="/" class="font-medium text-blue-600 dark:text-blue-500 hover:underline"> Home </a>
          </li>
          <li>
            <a href="/contratantes" class="font-medium text-blue-600 dark:text-blue-500 hover:underline"> Contratantes </a>
          </li>
          <li>
            <a href="/service-provider" class="font-medium text-blue-600 dark:text-blue-500 hover:underline"> Prestadores </a>
          </li>
          <li>
            <a href="/service" class="font-medium text-blue-600 dark:text-blue-500 hover:underline"> Serviços </a>
          </li>
          <li>
            <a href="/service-request" class="font-medium text-blue-600 dark:text-blue-500 hover:underline"> Solicitar Serviço </a>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <section>
				<h2>Usuário</h2>

				<form method="post" action="/edit-user/{{user.id}}">
          <div>
            <label for="nome" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nome</label>
						<input type="text" id="nome" name="nome" placeholder="nome" required class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="John" required value="{{user.nome}}" />
          </div>
          <div>
            <label for="cpf" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">CPF</label>
						<input type="text" id="cpf" name="cpf" placeholder="cpf" required class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="John" required value="{{user.cpf}}" />
          </div>
          <div>
            <label for="endereco" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Endereço</label>
						<input type="text" id="endereco" name="endereco" placeholder="endereco" required class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="John" required value="{{user.endereco}}" />
          </div>
          <div>
            <label for="data_de_nascimento" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Data De Nascimento</label>
						<input type="date" id="data_de_nascimento" name="data_de_nascimento" placeholder="data_de_nascimento" required class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="John" required value="{{user.data_de_nascimento}}" />
          </div>
          <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Editar</button>
        </form>
      </section>
    </main>

    <script src="/js/home.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
  </body>
</html>
