<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Home</title>
    <link href="/css/globals.css" rel="stylesheet" />
    <link href="/css/user.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
  </head>
  <body class="bg-white dark:bg-gray-900 antialiased">
    <header>
      <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">Helpin</h1>
      <nav>
        <ul>
          <li>
            <a href="/" class="font-medium text-blue-600 dark:text-blue-500 hover:underline"> Home </a>
          </li>
          <li>
            <a href="/contratantes" class="font-medium text-blue-600 dark:text-blue-500 hover:underline"> Contratantes </a>
          </li>
          <li>
            <a href="/service-provider" class="font-medium text-blue-600 dark:text-blue-500 hover:underline"> Prestadores </a>
          </li>
          <li>
            <a href="/service" class="font-medium text-blue-600 dark:text-blue-500 hover:underline"> Serviços </a>
          </li>
          <li>
            <a href="/service-request" class="font-medium text-blue-600 dark:text-blue-500 hover:underline"> Solicitar Serviço </a>
          </li>
        </ul>
      </nav>
    </header>
    <main></main>
    <script src="/js/home.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
  </body>
</html>

