<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Home</title>
    <link href="/css/globals.css" rel="stylesheet" />
    <link href="/css/user.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <h1>Helpin</h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/contratantes">Contratantes</a></li>
          <li><a href="/service-provider">Prestadores</a></li>
          <li><a href="/service">Serviços</a></li>
          <li><a href="/service-request">Solicitar Serviço</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <section>
        <h2>Usuários</h2>
				<a href="/create-service-provider">Criar prestador</a>
        <ul>
          {% for user in users %}
          <li>
            {{user.nome}} {{user.cpf}} {{user.endereco}}
						{{user.data_de_nascimento}} {{user.additional_info}}

            <a href="/service-provider/{{user.id}}">Editar</a>
            <form method="post" action="/delete-service-provider/{{user.id}}">
              <button type="submit">Deletar</button>
            </form>
          </li>
          {% endfor %}
        </ul>
      </section>
    </main>

    <script src="/js/home.js"></script>
  </body>
</html>
