<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>User</title>
    <link href="/css/globals.css" rel="stylesheet" />
    <link href="/css/user.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
  </head>
  <body class="bg-white dark:bg-gray-900 antialiased">
    <header>
      <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">Helpin</h1>
      <nav>
        <ul>
          <li>
            <a href="/" class="font-medium text-blue-600 dark:text-blue-500 hover:underline"> Home </a>
          </li>
          <li>
            <a href="/contratantes" class="font-medium text-blue-600 dark:text-blue-500 hover:underline"> Contratantes </a>
          </li>
          <li>
            <a href="/service-provider" class="font-medium text-blue-600 dark:text-blue-500 hover:underline"> Prestadores </a>
          </li>
          <li>
            <a href="/service" class="font-medium text-blue-600 dark:text-blue-500 hover:underline"> Serviços </a>
          </li>
          <li>
            <a href="/service-request" class="font-medium text-blue-600 dark:text-blue-500 hover:underline"> Solicitar Serviço </a>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <section>
        <h2 class="text-4xl font-extrabold dark:text-white">Solicitações</h2>
				<a href="/create-service_request" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Criar Solicitação</a>
        <ul>
          {% for service_request in service_requests %}
          <li class="mb-3 text-gray-500 dark:text-gray-400">
						{{service_request.preco}}
            {{service_request.prazo}}
            {{service_request.descricao}}
            {{service_request.servico_id}}
            {{service_request.contratante_id}}
            {{service_request.prestador_id}}

            <a href="/service_request/{{service_request.id}}" class="text-green-700 hover:text-white border border-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-green-500 dark:text-green-500 dark:hover:text-white dark:hover:bg-green-600 dark:focus:ring-green-800">Editar</a>
            <form method="post" action="/delete-service_request/{{service_request.id}}">
              <button type="submit" class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Deletar</button>
            </form>
          </li>
          {% endfor %}
        </ul>
      </section>
    </main>

    <script src="/js/home.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
  </body>
</html>
