<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>User</title>
    <link href="/css/globals.css" rel="stylesheet" />
    <link href="/css/user.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
  </head>
  <body class="bg-white dark:bg-gray-900 antialiased">
		{% include '/components/header.html' %}

    <main>
      <section>
        <h2 class="text-4xl font-extrabold dark:text-white">Usuários</h2>
				<a href="/create-user" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Criar usuário</a>
        <ul>
          {% for user in users %}
          <li class="mb-3 text-gray-500 dark:text-gray-400">
            {{user.nome}} {{user.cpf}} {{user.endereco}}
						{{user.data_de_nascimento}}

            <a href="/user/{{user.id}}" class="text-green-700 hover:text-white border border-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-green-500 dark:text-green-500 dark:hover:text-white dark:hover:bg-green-600 dark:focus:ring-green-800">Editar</a>
            <form method="post" action="/delete-user/{{user.id}}">
              <button type="submit" class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Deletar</button>
            </form>
          </li>
          {% endfor %}
        </ul>
      </section>
    </main>

    <script src="/js/home.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
  </body>
</html>
